html {
    scroll-behavior: smooth;
    
}

body {
    background-color: #ffc1d8;
    /* color: #4a4a4a; */
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    /* background-image: url("../img/pinkleaf.jpg"); */
    /* background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed; */
}

hr {
    visibility: hidden;
}

/* .navbar {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
} */

.navbar {
    transition: top 0.5s ease;
}

.navbar-hide {
    top: -56px;
}

#name {
    font-size: 50px;
}

.intro {
    /* background: #ffffff; */
    /* background-image: url("../img/pinkleaf.jpg"); */
    /* background-image: url("../img/pinkleaf.jpg"), linear-gradient(#ffd4f2, #ffffff); */
    background-repeat: no-repeat;
    background: linear-gradient(#ffffff00 75%,  #ffc1d8), url("../img/pinkleaf.jpg") fixed;
    background-position: bottom center;
    background-size: cover;
    /* background-attachment: fixed; */
}
/* 
.introTxt {
    background:  linear-gradient(#ffffff00, #ffffffbd);
    background-size: cover; 
    height: 15vh; 
    background: linear-gradient(rgba(141, 153, 174, 0.8), rgba(141, 153, 174, 0.5)), url("../img/pinkleaf.jpg") no-repeat fixed;
    background-size: cover;
} */

.intro i {
    /* color:  #ffffff; */
    color: #000000;
    /* font-size:30px; */
    padding: 10px;
    transition: .5s ease;
}

.intro i:hover {
    /* color: rgb(0, 89, 255); */
    color: #ffffff;
    transform: scale(1.3);
}

footer i {
    color: #ffffff;
    /* font-size:40px; */
    padding-top: 10px;
    transition: .5s ease;
}

footer i:hover {
    color: #949494;
    transform: scale(1.3);
}
footer a:hover {
    color: #949494;
    /* transform: scale(1.3); */
}

.container {
    width: 100%;
}

/* .nav {
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 5px;
} */



/* .nav-item{
    color: #ffffff;
} */


  
.intro {

/* min-height: 700px; */
margin-bottom: 30px;
padding: 20px;
/* color: #ffffff; */
}

.arrow {
    text-align: center;
    /* margin-top: 200px; */
}

.credits {
    text-align: end;
    /* margin-top: 55px; */
    font-size: x-small;
}

@media (min-width: 300px) {
    .intro {
        padding: 180px 50px 180px;
        height: 600px;

    }
    .credits {
        margin-top: 15px;
    }
    .arrow {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    .intro {
        padding: 260px 50px 260px;
        height: 700px;
        /* margin-bottom: 200px; */
    }
    .credits {
        margin-top: 15px;
    }
    .arrow {
        margin-top: 50px;
    }
}

@media (min-width: 1024px) {
    .intro {
        padding: 260px 50px 260px;
        height: 1000px;
        /* margin-bottom: 200px; */
    }
    .credits {
        margin-top: 45px;
    }
    .arrow {
        margin-top: 100px;
    }
}

@media (min-width: 1400px) {
    .intro {
        padding: 260px 50px 260px;
        height: 1000px;
        /* margin-bottom: 200px; */
    }
    .arrow {
        margin-top: 200px;
    }
}

.about {
    margin-bottom: 60px;
    background-color: #ffffff80;
    margin-top: 100px;
    padding: 60px 55px;
    border-radius: 8px;
    color: #000000;
    
}

.about td {
    padding: 5px;
    padding-right: 10px;
}
/* .about i {
    color: black;
    font-size: 20px;
}
.about i:hover {
    color: rgb(0, 89, 255);
} */

.about a {
    color: #242424c5;
}

.about a:hover {
    color: #0059ff;
}


/*ffc1d880*/
.experience{
    background-color: #ffffff80;
    margin-top: 25px;
    padding: 60px 55px;
    margin-bottom: 60px;
    border-radius: 8px;
    color: #000000;
}

/* .experience ul li em {
    font-size: 15px;
}

.experience ul li ul li {
    font-size: 16px;
} */

.projects{
    background-color: #ffffff80;
    margin-top: 25px;
    padding: 60px 55px;
    margin-bottom: 60px;
    border-radius: 8px;
    color: #000000;
}

.projects td {
    padding-right: 20px;
    padding-bottom: 10px;
}

.projects a {
    /* color: #ffffffc5; */
    /* font-size: 18px; */
    color: #000000;
}

/* .projects a:hover {
    color: #0059ff;
} */


.sectionTitle {
    /* padding: 10px; */
    padding-bottom: 20px;
}

.projCard {
    padding: 25px 0px;
}

.projImg {
    height: auto;
}

img {
    width: 75%;
    height: auto;
    display: block;
    padding-top: 20px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;

}


.mask{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fce3ec80;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.projImg {
    transition: .5s ease;
    padding: 10px 0px;
}

#basketteImg img {
    width: 27%;
    /* height: 50%; */
}

.projCard:hover .mask {
    width: 0;
  }

.projCard:hover .projImg {
    transform: scale(1.05);
}

.projCard:hover .projDesc a {
    color: #464646;
}

.projTitle {
    padding-top: 55px;
}
